**.DS_Store
target/**
.gitconfig
.idea

csvOutput/

externalData/NYT/

State/mystate.txt

dependency-reduced-pom.xml

csvOutput/timeLogs/

*.iml
*.ipr
*.ips
analyticsOutput/

OutputAnalyticsOutput.csv

PlaceData.csv

transmissions.csv

OutputData/
OutputDataCSV/
scenarioOutput/

NUScenarioOutput*
NUScenarioInput/
PUScenarioOutput*
CWRUScenarioOutput*
SUScenarioOutput*